
<!DOCTYPE html>
<html xml:th="http://www.tymelaf.org">
<head>
<meta charset="UTF-8">
<title>Create Location</title>
</head>
<body>
<form action = "updateLoc" method="post">
<pre>
<!-- readonly to not allow user to change the id -->
Id: <input type="text" name="id" th:value="${location.id}" readonly="true"/>
Code: <input type="text" name="code" th:value="${location.code}"/>
Name: <input type="text" name="name" th:value="${location.name}"/>
Type: Urban <input type="radio" name="type" value="URBAN" th:field="*{location.type}"/>
      Rural <input type="radio" name="type" value="RURAL" th:field="*{location.type}"/>
<input type="submit" value="save"/>
</pre>
</form>
</body>
</html>